$time: 300ms;

$border: #9B9E9F;
$gray: #E8E8E8;
$blue: #325AA4;
$input: #7E7E7E;
$input_border: #8A8D8F;
$paginator_gray: #999999;
$paginator_red: #CB1F26;
$btn_red: #D7292E;
$text_finish: #A4A6A8;
$total_finish: #4B648C;
