/* line 1, ../sass/_layout.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 6, ../sass/_layout.scss */
html, body {
  position: relative;
  height: 100%;
}

/* line 10, ../sass/_layout.scss */
.main {
  display: table;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
/* line 15, ../sass/_layout.scss */
.main .work {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}

/* line 22, ../sass/_layout.scss */
.swiper-main {
  width: 100%;
  max-width: 953px;
  overflow: hidden;
  margin: 0 auto;
}
/* line 28, ../sass/_layout.scss */
.swiper-main ul li {
  display: inline-block;
  float: left;
  text-align: center;
  border: 1px solid #9B9E9F;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 34, ../sass/_layout.scss */
.swiper-main ul li h1 {
  padding: 44px 7.55%;
  width: 84.9%;
  background: #E8E8E8;
  color: #325AA4;
  text-transform: uppercase;
  font-size: 25px;
}
/* line 41, ../sass/_layout.scss */
.swiper-main ul li h1.white {
  background: white;
}
/* line 44, ../sass/_layout.scss */
.swiper-main ul li h1 .text {
  text-transform: none;
  font-weight: normal;
  font-size: 20px;
  margin-top: 5px;
}
/* line 51, ../sass/_layout.scss */
.swiper-main ul li .btn_big {
  cursor: pointer;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  -webkit-transition: 300ms;
  transition: 300ms;
  display: inline-block;
  margin: 173px 0 174px;
  padding: 0 33px;
  line-height: 60px;
  color: white;
  background: #325AA4;
  text-transform: uppercase;
  font-size: 18px;
}
/* line 4, ../sass/_functions.scss */
.swiper-main ul li .btn_big:hover {
  opacity: 0.8;
}

/* line 66, ../sass/_layout.scss */
.bad-validation {
  border: 2px solid #D7292E !important;
}

/* line 70, ../sass/_layout.scss */
.text.bad-validation {
  border: 0 !important;
  color: #D7292E;
}

/* line 74, ../sass/_layout.scss */
.btn_little {
  cursor: pointer;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  -webkit-transition: 300ms;
  transition: 300ms;
  color: white;
  background: #325AA4;
  font-size: 16px;
  line-height: 50px;
  padding: 0 72px;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 79px;
}
/* line 4, ../sass/_functions.scss */
.btn_little:hover {
  opacity: 0.8;
}

/* line 85, ../sass/_layout.scss */
.btn_red {
  background: #D7292E;
}

/* line 2, ../sass/_question.scss */
.questions h2 {
  font-weight: normal;
  color: #325AA4;
  font-size: 25px;
  line-height: 30px;
  margin: 52px 0 30px;
}
/* line 9, ../sass/_question.scss */
.questions input {
  width: 112px;
  height: 50px;
  line-height: 50px;
  font-size: 35px;
  text-align: center;
  color: #7E7E7E;
  border: 1px solid #8A8D8F;
}
/* line 19, ../sass/_question.scss */
.questions .swiper-paginator {
  margin: 46px 0 50px;
}
/* line 21, ../sass/_question.scss */
.questions .swiper-paginator span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #999999;
  display: inline-block;
  margin: 0 8px;
}
/* line 28, ../sass/_question.scss */
.questions .swiper-paginator span.swiper-next {
  background: #CB1F26;
}
/* line 31, ../sass/_question.scss */
.questions .swiper-paginator span.swiper-pagination-bullet-active {
  position: relative;
}
/* line 33, ../sass/_question.scss */
.questions .swiper-paginator span.swiper-pagination-bullet-active:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #CB1F26;
}

/* line 1, ../sass/_form.scss */
form {
  text-align: left;
  width: 59.53%;
  margin: 0 auto;
  color: #999999;
  line-height: 27px;
  font-size: 15px;
}
/* line 8, ../sass/_form.scss */
form .left, form .right {
  display: inline-block;
  width: 49.557%;
}
/* line 11, ../sass/_form.scss */
form .left input, form .left select, form .right input, form .right select {
  display: block;
  width: 100%;
  padding: 0 12px;
  box-sizing: border-box;
  color: #999999;
  line-height: 33px;
  margin-bottom: 10px;
  font-size: 18px;
  border: 1px solid #999999;
}
/* line 22, ../sass/_form.scss */
form .left select, form .right select {
  position: relative;
  height: 35px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: white;
  z-index: 1;
  padding-right: 20px;
}
/* line 31, ../sass/_form.scss */
form .left .select, form .right .select {
  position: relative;
}
/* line 33, ../sass/_form.scss */
form .left .select:before, form .right .select:before {
  z-index: 5;
  position: absolute;
  top: 50%;
  margin-top: -9px;
  right: 9px;
  content: '';
  display: inline-block;
  border: 3px solid transparent;
  border-bottom: 5px solid #999999;
}
/* line 44, ../sass/_form.scss */
form .left .select:after, form .right .select:after {
  z-index: 5;
  position: absolute;
  top: 50%;
  margin-top: 2px;
  right: 9px;
  content: '';
  display: inline-block;
  border: 3px solid transparent;
  border-top: 5px solid #999999;
}
/* line 57, ../sass/_form.scss */
form .left {
  float: left;
}
/* line 60, ../sass/_form.scss */
form .right {
  float: right;
}
/* line 63, ../sass/_form.scss */
form .radio {
  line-height: 20px;
  clear: both;
}
/* line 66, ../sass/_form.scss */
form .radio .text {
  padding-top: 15px;
  margin-bottom: 10px;
}
/* line 70, ../sass/_form.scss */
form .radio input {
  margin-right: 11px;
}
/* line 73, ../sass/_form.scss */
form .radio label {
  cursor: pointer;
  margin-right: 26px;
}

/* line 80, ../sass/_form.scss */
.btn_form {
  margin: 48px 0 57px;
}

/* line 1, ../sass/_finish.scss */
.finish {
  position: relative;
}
/* line 3, ../sass/_finish.scss */
.finish .information {
  text-align: left;
  width: 54.35%;
  margin-left: 7.97%;
  margin-top: 126px;
}
/* line 8, ../sass/_finish.scss */
.finish .information .left, .finish .information .right {
  display: inline-block;
  font-size: 16px;
  color: #A4A6A8;
}
/* line 12, ../sass/_finish.scss */
.finish .information .left div, .finish .information .right div {
  white-space: nowrap;
}
/* line 14, ../sass/_finish.scss */
.finish .information .left div .name, .finish .information .right div .name {
  float: left;
  margin-right: 5px;
}
/* line 18, ../sass/_finish.scss */
.finish .information .left div span, .finish .information .right div span {
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
}
/* line 24, ../sass/_finish.scss */
.finish .information .left h3, .finish .information .right h3 {
  color: #325AA4;
  margin-bottom: 12px;
  font-size: 16px;
}
/* line 29, ../sass/_finish.scss */
.finish .information .left .total, .finish .information .right .total {
  margin-top: 12px;
  color: #4B648C;
  font-weight: bold;
}
/* line 35, ../sass/_finish.scss */
.finish .information .left {
  float: left;
  width: 46.33%;
  border-right: 1px solid #A4A6A8;
}
/* line 39, ../sass/_finish.scss */
.finish .information .left div span {
  padding-right: 2%;
}
/* line 43, ../sass/_finish.scss */
.finish .information .right {
  margin-left: 10.81%;
  width: 42.56%;
}
/* line 47, ../sass/_finish.scss */
.finish .information .btn_little {
  text-align: center;
  padding: 0;
  font-size: 14px;
  line-height: 43px;
  margin: 52px 0 73px;
}
/* line 54, ../sass/_finish.scss */
.finish .information .btn_demo {
  width: 38.42%;
}
/* line 57, ../sass/_finish.scss */
.finish .information .btn_install {
  float: right;
  width: 56.37%;
}
/* line 62, ../sass/_finish.scss */
.finish .img {
  float: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 33.34%;
  height: 62.67%;
  max-width: 766px;
  max-height: 754px;
  background: url("../images/mobile.jpg") no-repeat;
  background-size: contain;
  background-position: bottom;
}
